
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body
{
    margin: 0;
    font-family: Inter;
}

header
{
    background-color: black;
    color: white;

    min-height: 200px;
    padding-left: 30px;

    display: flex;
    align-items: center;

    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.25);
}
header h1
{
    margin: 0;
    font-size: 3em;
}

#torontoTable
{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#horizontalColumns
{
    display: flex;
    flex-direction: row;

    /* border: 1px black solid; */
}

.columnDiv
{
    /* border: 1px black solid; */
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    min-width: 280px;
}
.columnDiv:first-child
{
    border-left: 1px solid black;
}

#torontoTitleDiv
{
    /* background-color: black; */
    background-image: linear-gradient(to right, black 25%,rgb(142, 204, 255));
    color: rgb(255, 255, 255);

    max-height: 250px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 40px;
    margin-bottom: 40px;

    overflow: hidden;

    box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.25);

    
}



#cameraImg
{
    height: 100%;
    max-height: 250px;
}

#torontoTitleDiv h1
{
    font-size: 2.5em;
    font-weight: 500;

    margin: 0;
    margin-top: 20px;
    margin-left: 30px;
}

#redLight
{
    color: red;
}

#desc
{
    font-weight: 800;
    margin-bottom: 40px;
}

.columnName
{
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
    min-height: 50px;

    font-size: 1.25em;

    display: flex;
    justify-content: center;
    align-items: center;
}



.columnContentCenter
{
    display: flex;
    justify-content: center;

    padding-left: 5px;
    padding-right: 5px;

    border-top: 1px rgba(0, 0, 0, .05) solid;
    border-bottom: 1px rgba(0, 0, 0, .05) solid;

    align-items: center;
    min-height: 50px;
}

.columnContentCenter:nth-child(odd)
{
    background-color: rgb(224, 224, 224);
}

.columnContent
{
    display: flex;

    padding-left: 5px;
    padding-right: 5px;

    border-top: 1px rgba(0, 0, 0, .05) solid;
    border-bottom: 1px rgba(0, 0, 0, .05) solid;

    align-items: center;
    min-height: 50px;
}

.columnContent:nth-child(odd)
{
    background-color: rgb(224, 224, 224);
}

footer
{

    background-color: black;
    color: white;

    min-height: 50px;

    display: flex;
    align-items: center;
}

footer p
{
    margin: 0;
    padding-left: 30px;
}